.main-header {
  height: 20rem;
  background-color: var(--strong-cyan);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header h1 {
  color: var(--white);
  cursor: default;
  font-weight: 300;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

